<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dropfox</title>
  <link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/style/style.css">
</head>

<body>
  <div class="web-container grid">
    <section class="menu">
      <div class="twenty">
        <img class="icon" src="./images/droupbox-glyph.png" alt="icon">
        <ul>
          <li>Home</li>
          <li>Files</li>
          <li>Paper</li>
          <li>Showcase</li>
        </ul>
      </div>
    </section>
    <section>
      <h1>File Upload List</h1>
      {{ typeof msg != 'undefined' ? msg : "" }}
        <ul>
          <% data.forEach((item)=>{ %>
            <li>
              <a href="./uploads/<%= item %>">
                <%= item %>
              </a>
              <!-- <%= item %> -->
            </li>
            <% }); %>
        </ul>


    </section>
    <section>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input type="file" name="uploadFile">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button class='btn' type="submit">Submit</button>
      </form>
    </section>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>